ai-accounting-n8n/workflows/AP_ingest_from_email.json
{ "name": "AP_ingest_from_email", "nodes": [ { "parameters": { "downloadAttachments": true, "options": { "customEmailConfig": true, "imap": { "host": "imap.gmail.com", "port": 993, "secure": true, "user": "TU_EMAIL", "password": "TU_PASSWORD", "allowUnauthorizedCerts": false }, "search": "has:attachment subject:(invoice OR factura)" } }, "id": "EmailTrigger", "name": "Email Trigger (IMAP)", "type": "n8n-nodes-base.emailReadImap", "typeVersion": 2, "position": [ -200, 200 ] }, { "parameters": { "functionCode": "const att = items[0].binary?.attachment_0;\nif (!att) return items;\nconst base64 = att.data;\nconst mime = att.mimeType || 'application/octet-stream';\nconst filename = att.fileName || 'invoice.pdf';\nreturn [{ json: { base64, mime, filename, from: items[0].json.from, subject: items[0].json.subject } }];" }, "id": "PrepAttachment", "name": "Prep Attachment → base64", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [ 40, 200 ] }, { "parameters": { "model": "gpt-4o-mini", "options": { "responseFormat": "json_object" }, "systemMessage": "Eres un asistente experto en cuentas por pagar. A partir de un archivo de factura (PDF/imagen) extrae campos: raw_id (string único), date(YYYY-MM-DD), due_date(YYYY-MM-DD), vendor(string), amount(number), category(string), description(string). Si falta dato, infiérelo del contenido con cautela. No inventes vendor si no aparece.", "messages": "return [{ role: 'user', content: [\n  { type: 'text', text: 'Extrae los campos contables en JSON estricto.' },\n  { type: 'input_text', text: $json.subject || '' },\n  { type: 'image', image_url: `data:${$json.mime};base64,${$json.base64}` }\n]}];" }, "id": "OpenAI_Extract", "name": "OpenAI Extract Invoice", "type": "n8n-nodes-base.openAi", "typeVersion": 3, "position": [ 320, 200 ], "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI" } } }, { "parameters": { "operation": "executeQuery", "query": "INSERT INTO finance.ap_expenses (raw_id, posted_at, vendor, amount, due_date, category, description, paid, source_email, attachment_filename, attachment_mime, attachment_base64)\nVALUES (\n  $1,\n  now(),\n  $2,\n  $3,\n  $4::date,\n  $5,\n  $6,\n  false,\n  $7,\n  $8,\n  $9,\n  $10\n)\nON CONFLICT (raw_id) DO UPDATE SET\n  vendor = EXCLUDED.vendor,\n  amount = EXCLUDED.amount,\n  due_date = EXCLUDED.due_date,\n  category = EXCLUDED.category,\n  description = EXCLUDED.description,\n  attachment_filename = EXCLUDED.attachment_filename,\n  attachment_mime = EXCLUDED.attachment_mime,\n  attachment_base64 = EXCLUDED.attachment_base64\nRETURNING id;", "additionalFields": { "values": "const data = JSON.parse(items[0].json.choices[0].message.content);\nreturn [\n  data.raw_id || $json.filename,\n  data.vendor,\n  Number(data.amount || 0),\n  data.due_date || null,\n  data.category || null,\n  data.description || null,\n  $json.from || null,\n  $json.filename,\n  $json.mime,\n  $json.base64\n];" } }, "id": "PG_Insert_AP", "name": "Postgres Insert AP", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 620, 200 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } } ], "connections": { "Email Trigger (IMAP)": { "main": [ [ { "node": "Prep Attachment → base64", "type": "main", "index": 0 } ] ] }, "Prep Attachment → base64": { "main": [ [ { "node": "OpenAI Extract Invoice", "type": "main", "index": 0 } ] ] }, "OpenAI Extract Invoice": { "main": [ [ { "node": "Postgres Insert AP", "type": "main", "index": 0 } ] ] } }, "pinData": {}, "meta": { "templateCreds": true }, "active": false }
