ai-accounting-n8n/workflows/AP_overdue_alerts.json
{ "name": "AP_overdue_alerts", "nodes": [ { "parameters": { "cronExpression": "0 8 * * *" }, "id": "Cron", "name": "Daily 08:00", "type": "n8n-nodes-base.cron", "typeVersion": 1, "position": [ -220, 200 ] }, { "parameters": { "operation": "executeQuery", "query": "SELECT e.*, t.title, t.body FROM finance.ap_expenses e JOIN finance.templates t ON t.slug = 'ap_overdue_notice_internal' WHERE e.paid = false AND e.due_date IS NOT NULL AND e.due_date < CURRENT_DATE ORDER BY e.due_date ASC;" }, "id": "PG_Select_Overdue", "name": "Postgres Select Overdue AP", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 40, 200 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } }, { "parameters": { "functionCode": "const Mustache = require('mustache');\nreturn items.map(item => {\n  const r = item.json;\n  const view = { vendor: r.vendor, amount: Number(r.amount).toFixed(2), raw_id: r.raw_id, due_date: r.due_date, description: r.description || '' };\n  const html = Mustache.render(r.body, view);\n  return { json: { to: 'finanzas@tuempresa.com', subject: r.title.replace('{{vendor}}', r.vendor), html } };\n});" }, "id": "RenderTemplate", "name": "Render Template (Mustache)", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [ 340, 200 ] }, { "parameters": { "fromEmail": "no-reply@tuempresa.com", "toEmail": "={{$json[\"to\"]}}", "subject": "={{$json[\"subject\"]}}", "htmlBody": "={{$json[\"html\"]}}" }, "id": "SendEmail", "name": "Send Email", "type": "n8n-nodes-base.emailSend", "typeVersion": 2, "position": [ 620, 200 ], "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP" } } } ], "connections": { "Daily 08:00": { "main": [ [ { "node": "Postgres Select Overdue AP", "type": "main", "index": 0 } ] ] }, "Postgres Select Overdue AP": { "main": [ [ { "node": "Render Template (Mustache)", "type": "main", "index": 0 } ] ] }, "Render Template (Mustache)": { "main": [ [ { "node": "Send Email", "type": "main", "index": 0 } ] ] } }, "active": false }
