ai-accounting-n8n/workflows/AR_overdue_alerts.json
{ "name": "AR_overdue_alerts", "nodes": [ { "parameters": { "cronExpression": "0 9 * * *" }, "id": "Cron", "name": "Daily 09:00", "type": "n8n-nodes-base.cron", "typeVersion": 1, "position": [ -220, 200 ] }, { "parameters": { "operation": "executeQuery", "query": "SELECT i.*, t.title, t.body FROM finance.ar_invoices i JOIN finance.templates t ON t.slug = 'ar_overdue_customer' WHERE i.amount_remaining > 0 AND i.due_date IS NOT NULL AND i.due_date < CURRENT_DATE ORDER BY i.due_date ASC;" }, "id": "PG_Select_AR", "name": "Postgres Select Overdue AR", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 40, 200 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } }, { "parameters": { "functionCode": "const Mustache = require('mustache');\nreturn items.map(item => {\n  const r = item.json;\n  const view = { customer: r.customer, invoice_id: r.invoice_id, amount_remaining: Number(r.amount_remaining).toFixed(2), due_date: r.due_date };\n  const text = Mustache.render(r.body, view);\n  return { json: { to: r.customer_email, subject: Mustache.render(r.title, view), text } };\n});" }, "id": "Render", "name": "Render Template", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [ 340, 200 ] }, { "parameters": { "fromEmail": "cobranzas@tuempresa.com", "toEmail": "={{$json[\"to\"]}}", "subject": "={{$json[\"subject\"]}}", "text": "={{$json[\"text\"]}}" }, "id": "Email", "name": "Send Email", "type": "n8n-nodes-base.emailSend", "typeVersion": 2, "position": [ 620, 200 ], "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP" } } } ], "connections": { "Daily 09:00": { "main": [ [ { "node": "Postgres Select Overdue AR", "type": "main", "index": 0 } ] ] }, "Postgres Select Overdue AR": { "main": [ [ { "node": "Render Template", "type": "main", "index": 0 } ] ] }, "Render Template": { "main": [ [ { "node": "Send Email", "type": "main", "index": 0 } ] ] } }, "active": false }
