ai-accounting-n8n/workflows/AR_stripe_new_and_update.json
{ "name": "AR_stripe_new_and_update", "nodes": [ { "parameters": { "path": "stripe-ar", "options": { "responseCode": 200 } }, "id": "Webhook", "name": "Webhook (Stripe)", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [ -240, 200 ], "webhookId": "stripe-ar" }, { "parameters": { "functionCode": "const e = items[0].json;\nconst inv = e.data.object;\nconst issuedAt = new Date((inv.created || inv.status_transitions?.finalized_at) * 1000).toISOString();\nconst due = inv.due_date ? new Date(inv.due_date*1000).toISOString().slice(0,10) : null;\nconst amountRemaining = (inv.amount_remaining ?? inv.amount_due ?? 0) / 100;\nreturn [{ json: { invoice_id: inv.id, issued_at: issuedAt, customer: inv.customer_name || inv.customer || 'Desconocido', amount_remaining: amountRemaining, due_date: due, customer_email: inv.customer_email || null, stripe_status: inv.status || e.type, event_type: e.type } }];" }, "id": "Normalize", "name": "Normalize", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [ 20, 200 ] }, { "parameters": { "operation": "executeQuery", "query": "INSERT INTO finance.ar_invoices (invoice_id, issued_at, customer, amount_remaining, due_date, customer_email, stripe_status, last_update)\nVALUES ($1, $2, $3, $4, $5::date, $6, $7, now())\nON CONFLICT (invoice_id) DO UPDATE SET\n  issued_at = EXCLUDED.issued_at,\n  customer = EXCLUDED.customer,\n  amount_remaining = EXCLUDED.amount_remaining,\n  due_date = EXCLUDED.due_date,\n  customer_email = EXCLUDED.customer_email,\n  stripe_status = EXCLUDED.stripe_status,\n  last_update = now();", "additionalFields": { "values": "return [ $json.invoice_id, $json.issued_at, $json.customer, Number($json.amount_remaining || 0), $json.due_date || null, $json.customer_email || null, $json.stripe_status || null ];" } }, "id": "PG_Upsert_AR", "name": "Postgres Upsert AR", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 320, 200 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } }, { "parameters": { "responseBody": "ok" }, "id": "Return", "name": "Return", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [ 540, 200 ] } ], "connections": { "Webhook (Stripe)": { "main": [ [ { "node": "Normalize", "type": "main", "index": 0 } ] ] }, "Normalize": { "main": [ [ { "node": "Postgres Upsert AR", "type": "main", "index": 0 } ] ] }, "Postgres Upsert AR": { "main": [ [ { "node": "Return", "type": "main", "index": 0 } ] ] } }, "active": false }
