ai-accounting-n8n/workflows/Main_agent_chatwoot.json
{ "name": "Main_agent_chatwoot", "nodes": [ { "parameters": { "path": "chatwoot-agent", "options": { "responseCode": 200 } }, "id": "Webhook", "name": "Webhook (Chatwoot)", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [ -300, 200 ], "webhookId": "chatwoot-agent" }, { "parameters": { "model": "gpt-4o-mini", "systemMessage": "Eres un asistente contable con herramientas. Decide intención y devuelve JSON con {intent, params}. Intents: get_ap_overdue, mark_ap_paid{raw_id}, get_ar_overdue, get_invoice{invoice_id}, use_template{slug, variables{...}}. Responde solo JSON.", "messages": "return [{ role: 'user', content: [{ type: 'text', text: JSON.stringify($json) }]}];", "options": { "responseFormat": "json_object" } }, "id": "NLP", "name": "Intent Classifier", "type": "n8n-nodes-base.openAi", "typeVersion": 3, "position": [ -20, 200 ], "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI" } } }, { "parameters": { "functionCode": "const out = JSON.parse(items[0].json.choices[0].message.content || '{}');\nreturn [{ json: out }];" }, "id": "ParseIntent", "name": "Parse Intent", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [ 240, 200 ] }, { "parameters": { "rules": { "values": [ { "value1": "={{$json[\"intent\"]}}", "operation": "equal", "value2": "get_ap_overdue" }, { "value1": "={{$json[\"intent\"]}}", "operation": "equal", "value2": "mark_ap_paid" }, { "value1": "={{$json[\"intent\"]}}", "operation": "equal", "value2": "get_ar_overdue" }, { "value1": "={{$json[\"intent\"]}}", "operation": "equal", "value2": "get_invoice" }, { "value1": "={{$json[\"intent\"]}}", "operation": "equal", "value2": "use_template" } ] } }, "id": "Router", "name": "Router", "type": "n8n-nodes-base.switch", "typeVersion": 1, "position": [ 500, 200 ] }, { "parameters": { "operation": "executeQuery", "query": "SELECT vendor, raw_id, amount, due_date FROM finance.ap_expenses WHERE paid=false AND (due_date IS NULL OR due_date <= CURRENT_DATE) ORDER BY due_date NULLS LAST LIMIT 20;" }, "id": "PG_GetAP", "name": "Get AP Overdue", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 760, 60 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } }, { "parameters": { "operation": "executeQuery", "query": "UPDATE finance.ap_expenses SET paid=true WHERE raw_id=$1 RETURNING raw_id, vendor, amount;", "additionalFields": { "values": "return [$json.params?.raw_id];" } }, "id": "PG_MarkPaid", "name": "Mark AP Paid", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 760, 150 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } }, { "parameters": { "operation": "executeQuery", "query": "SELECT customer, invoice_id, amount_remaining, due_date, customer_email FROM finance.ar_invoices WHERE amount_remaining>0 AND (due_date IS NULL OR due_date < CURRENT_DATE) ORDER BY due_date NULLS LAST LIMIT 20;" }, "id": "PG_GetAR", "name": "Get AR Overdue", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 760, 240 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } }, { "parameters": { "operation": "executeQuery", "query": "SELECT * FROM finance.ar_invoices WHERE invoice_id=$1;", "additionalFields": { "values": "return [$json.params?.invoice_id];" } }, "id": "PG_GetInvoice", "name": "Get Invoice", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 760, 330 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } }, { "parameters": { "operation": "executeQuery", "query": "SELECT title, body, channel FROM finance.templates WHERE slug=$1;", "additionalFields": { "values": "return [$json.params?.slug];" } }, "id": "PG_GetTemplate", "name": "Get Template", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [ 760, 420 ], "credentials": { "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "Postgres" } } }, { "parameters": { "functionCode": "const Mustache = require('mustache');\nconst t = items[0].json;\nconst vars = $json.params?.variables || {};\nconst subject = Mustache.render(t.title, vars);\nconst body = Mustache.render(t.body, vars);\nreturn [{ json: { channel: t.channel, subject, body } }];" }, "id": "RenderTemplate", "name": "Render Template", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [ 980, 420 ] }, { "parameters": { "functionCode": "const payload = $items();\nlet reply = '';\nif (payload['Get AP Overdue']?.length) reply = JSON.stringify(payload['Get AP Overdue'][0].json);\nif (payload['Mark AP Paid']?.length) reply = 'Marcado como pagado: ' + JSON.stringify(payload['Mark AP Paid'][0].json);\nif (payload['Get AR Overdue']?.length) reply = JSON.stringify(payload['Get AR Overdue'][0].json);\nif (payload['Get Invoice']?.length) reply = JSON.stringify(payload['Get Invoice'][0].json);\nif (payload['Render Template']?.length) reply = payload['Render Template'][0].json.body;\nreturn [{ json: { reply, chatwoot_reply_url: $json.conversation?.messages_url } }];" }, "id": "AssembleReply", "name": "Assemble Reply", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [ 1160, 200 ] }, { "parameters": { "authentication": "predefinedCredentialType", "nodeCredentialType": "chatwootApi", "requestMethod": "POST", "url": "={{$json.chatwoot_reply_url}}", "jsonParameters": true, "options": {}, "bodyParametersJson": "={\"content\": $json.reply}" }, "id": "ChatwootReply", "name": "Reply Chatwoot", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [ 1360, 200 ], "credentials": { } } ], "connections": { "Webhook (Chatwoot)": { "main": [ [ { "node": "Intent Classifier", "type": "main", "index": 0 } ] ] }, "Intent Classifier": { "main": [ [ { "node": "Parse Intent", "type": "main", "index": 0 } ] ] }, "Parse Intent": { "main": [ [ { "node": "Router", "type": "main", "index": 0 } ] ] }, "Router": { "main": [ [ { "node": "Get AP Overdue", "type": "main", "index": 0 } ], [ { "node": "Mark AP Paid", "type": "main", "index": 0 } ], [ { "node": "Get AR Overdue", "type": "main", "index": 0 } ], [ { "node": "Get Invoice", "type": "main", "index": 0 } ], [ { "node": "Get Template", "type": "main", "index": 0 } ] ] }, "Get AP Overdue": { "main": [ [ { "node": "Assemble Reply", "type": "main", "index": 0 } ] ] }, "Mark AP Paid": { "main": [ [ { "node": "Assemble Reply", "type": "main", "index": 0 } ] ] }, "Get AR Overdue": { "main": [ [ { "node": "Assemble Reply", "type": "main", "index": 0 } ] ] }, "Get Invoice": { "main": [ [ { "node": "Assemble Reply", "type": "main", "index": 0 } ] ] }, "Get Template": { "main": [ [ { "node": "Render Template", "type": "main", "index": 0 } ] ] }, "Render Template": { "main": [ [ { "node": "Assemble Reply", "type": "main", "index": 0 } ] ] }, "Assemble Reply": { "main": [ [ { "node": "Reply Chatwoot", "type": "main", "index": 0 } ] ] } }, "active": false }
